body {
    background-image: url(../img/background.jpg) !important;
    background-size: cover !important;
}

.custom-row {
    margin-top: 20px;
}

.custom-container-search {
    background-color:  rgba(255,255,255, 0.8);
    margin: 0px 20px 0px 20px;
    padding-bottom: 20px;
}

.container {
    padding-right: 20px !important;
    padding-left: 20px !important;
   
}

.custom-container-results{
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color:  rgba(59,65,146, 0.8);
    margin: 0px 20px 0px 20px;
}

.head-row{
    background-color: rgba(255,255,255, 1);
    margin-left: -20px !important;
    margin-right: -15px !important;
}

.head-element{
    padding-left: 25px !important;
    padding-right: 25px !important;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    transform: translateZ(0px);
    height: 36px;
    line-height: 36px;
    top: 0px;
    left: 5px;
    user-select: none;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #bdbdbd;
}

.element-selected {
    background-color: rgba(255, 255, 255, 0) !important;
}

.element-unselected-right{
    border-radius: 0px 0px 0px 5px;
}
.selected-radio{
    background-image: url(../img/radio-filled.png) !important;
    background-size: cover !important;
    height: 35px;
}
.unselected-radio{
    background-image: url(../img/radio-empty.png) !important;
    background-size: cover !important;
    height: 35px;
}

.radio-button-row{
    margin: 30px;
}

.radio-label {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-left: 10px;
}

.radio-container {
    display: inline-flex;
}

.input-field {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    transform: translateZ(0px);
    height: 38px;
    line-height: 38px;
    top: 6px;
    left: 6px;
    user-select: none;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    color: rgb(158, 158, 158);
    border-radius: 5px;
    margin-left: 10px;
    width: 100%;
}

.search-button {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: normal;
    transform: translateZ(0px);
    height: 36px;
    line-height: 33px;
    left: -10px;
    user-select: none;
    font-family: Arimo;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(63, 81, 181, 1);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.email-button{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: normal;
    transform: translateZ(0px);
    width: 138px;
    height: 36px;
    line-height: 33px;
    margin-top: 12px;
    user-select: none;
    font-family: Arimo;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 152,0, 1);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.add-flight-button {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: normal;
    transform: translateZ(0px);
    height: 36px;
    line-height: 33px;
    left: -10px;
    user-select: none;
    font-family: Arimo;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 152,0, 1);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.rotate {
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(45deg);
    -o-transform-origin: left top;
    transform: rotate(45deg);
    transform-origin: left top;
}

.aligned-icon {
    left: -25px;
    top: 12px !important;
}

.transfer-arrows {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 5px;
}

.head-label{
    
}

.big-icon-align {
    top: 5px !important;
    right: 30px !important;
    font-size: 24px;
}

.logo {
    height: 200px;
}

.big-plane-icon{
    color: white;
    font-size: 25px;
    left: 20px;
    padding-top: 9px;
}

.big-white-text {
    color: white;
    font-size: 27px;
    left: -51px !important;
    font-family: source-sans-pro, sans-serif;
    padding: 10px;
    display: -webkit-inline-box !important;
}

.flights-container{
    padding: 20px;
}

.results-element {
    background: white;
    border-radius: 5px;
    padding-left: 0px !important;
    font-family: source-sans-pro, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.send-mail{
    border-left: 1px #bbb solid;
}

.company-logo {
    width: 94px;
    height: 18px;
}

.logo-container{
    height: 33px;
    border-bottom: #bbb 1px solid;
}

.align-center {
    text-align: center !important;
    height: 24px;
}

.line {
    border-bottom: #bbb 1px solid;
}

.small-header-text {
    font-size: 15px;
    font-weight: normal;
    padding-top: 7px;
}

.small-text {
    font-size: 10px !important;
    padding-top: 10px;
}
.plane {
    padding: 8px 0 0 20px !important;
}
.bottom-button {
    margin-bottom: 30px;
}
.ret {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.modal-custom-row {
    padding: 20px !important;
}

.selected {
    background-image: url(../img/radio-filled.png) !important;
    background-size: contain;
    height: 35px;
    left: 20px;
    background-repeat-x: no-repeat;
}

.unselected {
    background-image: url(../img/radio-empty.png) !important;
    background-size: contain;
    height: 35px;
    left: 20px;
    background-repeat-x: no-repeat;
}
